<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <title>ChaosDeadeye's Item List</title>
    <script type="text/javascript">
        const itemListURL = "https://raw.githubusercontent.com/ChaosDeadeye/item-list/master/StoreItems.json";
        const eventListURL = "https://raw.githubusercontent.com/ChaosDeadeye/item-list/master/StoreEvents.json";
	const traitListURL = "https://raw.githubusercontent.com/ChaosDeadeye/item-list/master/StoreTraits(new).json";
	const item2ListURL = "https://raw.githubusercontent.com/ChaosDeadeye/item-list/master/StoreItemsWithMods.json";
	const commandListURL = "https://raw.githubusercontent.com/ChaosDeadeye/item-list/master/commands.json";
	const pawnListURL = "https://raw.githubusercontent.com/ChaosDeadeye/item-list/master/pawnkinds.json";
	const materialsListURL = "https://raw.githubusercontent.com/ChaosDeadeye/item-list/master/materials.json";
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">ChaosDeadeye</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.twitch.tv/chaosdeadeye">My Stream</a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main">
        <div class="jumbotron">
            <div class="container">
		    <h2 class="display-3"><b>ChaosDeadeye's Purchase List</b></h2>
                <p>Here is a list of all available items, events, traits and pawns you can buy. Make sure to also check the command list.</p>
		<p>To buy something simply type !buy "itemname" "amount" in chat. Example: <i>!buy beer 6</i></p>
		<p>You can also buy certain items made out of a specific material and quality. Example: <i>!buy platearmor[plateel,excellent]</i></p>
               <!-- <ul class="list-group">
                    <li class="list-group-item">!bal - check balance and karma rate</li>
                    <li class="list-group-item">!buy - Syntax: !buy beer 6 - purchase an item or event - can also use $ instrad of !buy</li>
                    <li class="list-group-item">!whatiskarma - explains what the karma system is</li>
                    <li class="list-group-item">!purchaselist - gives users a link to the public purchase list</li>
                    <li class="list-group-item">!instructions - gives users info on using the mod</li>
                    <li class="list-group-item">!modinfo - gives users info about the mod</li>
                    <li class="list-group-item">!modsettings - gives user info on how many coins are being earned and global settings</li>
                    <li class="list-group-item">!giftcoins - Syntax: !giftcoins @username 100 - give another viewer your coins</li>
                    <li class="list-group-item"><b>!allcommands - shows all available commands to the user (there are a lot)</b></li>
                    <li class="list-group-item">!buy pawn *race* - join the colony with a new pawn and the race you chose</li>
                    <li class="list-group-item">!mypawnstory - view information about your pawns backstory</li>
                    <li class="list-group-item">!mypawnskills - view information about your pawns skills</li>
		    <li class="list-group-item">!buy removetrait *traitname* - removes this trait from your pawn. by default 5500 coins</li>
		    <li class="list-group-item">!buy trait *traitname* - Adds this trait to your pawn. by default 3500 coins</li>
		    <li class="list-group-item">!levelskill *skillname* *coins* - spends as much coins as you want to level a certain skill (1 coin = 5 XP)</li>
		    <li class="list-group-item">!changepawnname *name* - request to change your pawnname (default is twitchname)</li>
                </ul> -->
            </div>
        </div>
        <div ng-app='tabs' ng-controller='tabCtrl'>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class='tabs'>
                            <form>
                                <div class="form-group">
                                    <button class="btn btn-success" ng-class="{'active': (selected == '1')}" ng-click='selected=1'>
                                        Items
                                    </button>
                                    <button class="btn btn-success" ng-class="{'active': (selected == '2')}" ng-click='selected=2'>
                                        Animals
                                    </button>
                                    <button class="btn btn-success" ng-class="{'active': (selected == '3')}" ng-click='selected=3'>
                                        Events
                                    </button>
				    <button class="btn btn-success" ng-class="{'active': (selected == '4')}" ng-click='selected=4'>
                                        Traits
                                    </button>
				    <button class="btn btn-success" ng-class="{'active': (selected == '5')}" ng-click='selected=5'>
                                        Races
                                    </button>
				    <button class="btn btn-success" ng-class="{'active': (selected == '6')}" ng-click='selected=6'>
                                        Commands
                                    </button>
				    <button class="btn btn-success" ng-class="{'active': (selected == '7')}" ng-click='selected=7'>
                                        Materials
                                    </button>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="">Price Between:</label>
                                    <div class="col-sm-3">
                                        <input type="number" class="form-control" id="item-price-min" placeholder="0">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="number" class="form-control" id="item-price-max" placeholder="100000">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show='selected == 1'>
                    <div class="col-md-12">
                        <div id="items">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
                                </div>
                                <input type="text" class="form-control search" aria-label="Search" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <p>
                                <button type="button" class="btn btn-primary sort" data-sort="abr">
                                    Sort
                                </button>
                                <button type="button" class="btn btn-primary sort" data-sort="price">
                                    Sort by Price
                                </button>
                            </p>
                            <table class="table items">
                                <tr>
                                    <th scope="col" class="sort" data-sort="abr">Name</th>
                                    <th scope="col" class="sort" data-sort="price">Price</th>
                                    <th scope="col" class="sort" data-sort="category">Category</th>
				    <th scope="col" class="sort" data-sort="mod">Mod</th>
                                </tr>
                                <tbody class="list">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show='selected == 3'>
                    <div class="col-md-12">
                        <div id="events">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
                                </div>
                                <input type="text" class="form-control search" aria-label="Search" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <p>
                                <button type="button" class="btn btn-primary sort" data-sort="abr">
                                    Sort
                                </button>
                                <button type="button" class="btn btn-primary sort" data-sort="price">
                                    Sort by Price
                                </button>
                                <button type="button" class="btn btn-primary sort" data-sort="karmatype">
                                    Sort by Karma
                                </button>
                            </p>
                            <table class="table events">
                                <tr>
                                    <th scope="col" class="sort" data-sort="abr">Name</th>
                                    <th scope="col" class="sort" data-sort="price">Price</th>
                                    <th scope="col" class="sort" data-sort="karmatype">Karma</th>
                                </tr>
                                <tbody class="list">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
		<div class="row" ng-show='selected == 4'>
                    <div class="col-md-12">
                        <div id="traits">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
                                </div>
                                <input type="text" class="form-control search" aria-label="Search" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <p>
                                <button type="button" class="btn btn-primary sort" data-sort="abr">
                                    Sort
                                </button>
                                <button type="button" class="btn btn-primary sort" data-sort="price">
                                    Sort by Price
                                </button>
                            </p>
                            <table class="table traits">
                                <tr>
                                    <th scope="col" class="sort" data-sort="name">Name</th>
                                    <th scope="col" class="sort" data-sort="addPrice">Add Price</th>
				    <th scope="col" class="sort" data-sort="removePrice">Remove Price</th>
				    <th scope="col" class="sort" data-sort="stats">Stats</th>
                                    <th scope="col" class="sort" data-sort="description">Description</th>
                                </tr>
                                <tbody class="list">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
		<div class="row" ng-show='selected == 5'>
                    <div class="col-md-12">
                        <div id="pawns">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
                                </div>
                                <input type="text" class="form-control search" aria-label="Search" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <table class="table pawns">
                                <tr>
                                    <th scope="col" class="sort" data-sort="name">Name</th>
                                    <th scope="col" class="sort" data-sort="price">Price</th>
                                    <th scope="col" class="sort" data-sort="description">Description</th>
                                </tr>
                                <tbody class="list">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
		    
                <div class="row" ng-show='selected == 6'>
                    <div class="col-md-12">
                        <div id="commands">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
                                </div>
                                <input type="text" class="form-control search" aria-label="Search" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <table class="table commands">
                                <tr>
                                    <th scope="col" class="sort" data-sort="usage">Usage</th>
                                    <th scope="col" class="sort" data-sort="description">Description</th>
                                </tr>
                                <tbody class="list">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
		    
		<div class="row" ng-show='selected == 2'>
                    <div class="col-md-12">
                        <div id="animals">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
                                </div>
                                <input type="text" class="form-control search" aria-label="Search" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <p>
                                <button type="button" class="btn btn-primary sort" data-sort="abr">
                                    Sort
                                </button>
                                <button type="button" class="btn btn-primary sort" data-sort="price">
                                    Sort by Price
                                </button>
                            </p>
                            <table class="table animals">
                                <tr>
                                    <th scope="col" class="sort" data-sort="abr">Name</th>
                                    <th scope="col" class="sort" data-sort="price">Price</th>
                                    <th scope="col" class="sort" data-sort="category">Category</th>
				    <th scope="col" class="sort" data-sort="mod">Mod</th>
                                </tr>
                                <tbody class="list">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>  
		
		<div class="row" ng-show='selected == 7'>
                    <div class="col-md-12">
                        <div id="materials">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
                                </div>
                                <input type="text" class="form-control search" aria-label="Search" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <table class="table materials">
                                <tr>
                                    <th scope="col" class="sort" data-sort="name">Name</th>
                                    <th scope="col" class="sort" data-sort="maxHitPoints">Max Hit Points</th>
                                    <th scope="col" class="sort" data-sort="armorSharp">Armor Sharp</th>
				    <th scope="col" class="sort" data-sort="armorBlunt">Armor Blunt</th>
				    <th scope="col" class="sort" data-sort="armorHeat">Armor Heat</th>
				    <th scope="col" class="sort" data-sort="bluntDamage">Blunt Damage</th>
				    <th scope="col" class="sort" data-sort="sharpDamage">Sharp Damage</th>
                                </tr>
                                <tbody class="list">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>  
		    
            </div>
        </div>


        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <hr>
        </div>
    </main>
    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
            <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    <style>
        .sort:after {
            display: inline-block;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid transparent;
            content: "";
            position: relative;
            top: -10px;
            right: -5px;
        }
        
        .sort.asc:after {
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #fff;
            content: "";
            position: relative;
            top: 4px;
            right: -5px;
        }
        
        .sort.desc:after {
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #fff;
            content: "";
            position: relative;
            top: -4px;
            right: -5px;
        }
    </style>
    <script type="text/javascript">
        let itemList = null;
        $.getJSON(item2ListURL, function(data) {
            var options = {
                valueNames: ['abr', 'price', 'category','mod','category'],
                item: '<tr><td class="abr" scope="row"></td><td class="price"></td><td class="category"></td><td class="mod"></td></tr>'
            };

            var itemData = [];
            $.each(data.items, function(index, value) {
                if (value["price"] > 0) {
			if (value["category"] !== 'Animals') {
                    itemData.push(value);
			}
                }
            });

            itemList = new List('items', options, itemData);
        });
	    
        let animalList = null;
        $.getJSON(item2ListURL, function(data) {
            var options = {
                valueNames: ['abr', 'price', 'category','mod','category'],
                item: '<tr><td class="abr" scope="row"></td><td class="price"></td><td class="category"></td><td class="mod"></td></tr>'
            };

            var animalData = [];
            $.each(data.items, function(index, value) {
                if (value["price"] > 0) {
			if (value["category"] === 'Animals') {
                    animalData.push(value);
			}
                }
            });

            animalList = new List('animals', options, animalData);
        });

        let eventList = null;
        $.getJSON(eventListURL, function(data) {
            var options = {
                valueNames: ['abr', 'price', 'karmatype'],
                item: '<tr><td class="abr" scope="row"></td><td class="price"></td><td class="karmatype"></td></tr>'
            };

            var eventData = [];
            $.each(data.incitems, function(index, value) {
                if (value["price"] > 0) {
                    eventData.push(value);
                }
            });

            eventList = new List('events', options, eventData);
        });
	    
        let traitList = null;
        $.getJSON(traitListURL, function(data) {
            var options = {
                valueNames: ['name', 'addPrice', 'removePrice', 'stats', 'description'],
                item: '<tr><td class="name" scope="row"></td><td class="addPrice"></td><td class="removePrice"></td><td class="stats"></td><td class="description"></td></tr>'
            };

            var traitData = [];
            $.each(data.traits, function(index, value) {
                if (value["addPrice"] > 0) {
                    traitData.push(value);
                }
            });

            traitList = new List('traits', options, traitData);
        });
	    
        let commandList = null;
        $.getJSON(commandListURL, function(data) {
            var options = {
                valueNames: ['usage', 'description', 'userLevel'],
                item: '<tr><td class="usage"></td><td class="description"></td></tr>'
            };

            var commandData = [];
            $.each(data.commands, function(index, value) {
                if (value["userLevel"] === 'Anyone') {
                    commandData.push(value);
                }
            });

            commandList = new List('commands', options, commandData);
        });
	    
        let pawnList = null;
        $.getJSON(pawnListURL, function(data) {
            var options = {
                valueNames: ['name', 'price', 'description'],
                item: '<tr><td class="name"></td><td class="price"></td><td class="description"></td></tr>'
            };

            var pawnData = [];
            $.each(data.pawns, function(index, value) {
                    pawnData.push(value);
            });

            pawnList = new List('pawns', options, pawnData);
        });
	   
	    
        let materialList = null;
        $.getJSON(materialListURL, function(data) {
            var options = {
                valueNames: ['name', 'maxHitPoints', 'armorSharp', 'armorBlunt', 'armorHeat'. 'bluntDamage', 'sharpDamage', 'type'],
                item: '<tr><td class="name" scope="row"></td><td class="'maxHitPoints"></td><td class="armorSharp"></td><td class="armorBlunt"></td><td class="armorHeat"></td><td class="bluntDamage"></td><td class="sharpDamage"></td></tr>'
            };

            var materialData = [];
            $.each(data.materials, function(index, value) {
                if (value["type"] === 'metal') {
                    materialData.push(value);
                }
            });

            materialList = new List('materials', options, materialData);
        });

	    
        $("#item-price-min").keyup(function() {
            updateItemFilter();
        });

        $("#item-price-max").keyup(function() {
            updateItemFilter();
        });

        function updateItemFilter() {
            var minPrice = $("#item-price-min").val();
            var maxPrice = $("#item-price-max").val();
            itemList.filter(function(item) {
                var allow = true;
                if (minPrice != "" && parseInt(item.values().price) < minPrice) {
                    allow = false;
                }
                if (maxPrice != "" && parseInt(item.values().price) > maxPrice) {
                    allow = false;
                }
                return allow;
            });
	    eventList.filter(function(item) {
                var allow = true;
                if (minPrice != "" && parseInt(item.values().price) < minPrice) {
                    allow = false;
                }
                if (maxPrice != "" && parseInt(item.values().price) > maxPrice) {
                    allow = false;
                }
                return allow;
            });
	   traitList.filter(function(item) {
                var allow = true;
                if (minPrice != "" && parseInt(item.values().addPrice) < minPrice) {
                    allow = false;
                }
                if (maxPrice != "" && parseInt(item.values().addPrice) > maxPrice) {
                    allow = false;
                }
                return allow;
            });
        }
    </script>
    <script type="text/javascript">
        var tabs = angular.module('tabs', [])
            .controller('tabCtrl', function($scope) {
                $scope.selected = "1";
            });
    </script>
</body>

</html>
